.contact .container-white {
  padding: 45px 0;
}

.about-us .beard-container {
  background: #f9f9f9;
}

.about-us .beard-container section h3 {
  color: #29abe2;
}

.container-grey .btn {
  color: #29abe2;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.card-body p:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #29abe2;
}

.card-body .btn {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .services .icon-service {
    float: none;
    display: block;
  }
}

@media (max-width: 558px) {
  .services .icon-service {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.services .card-body .menu-icon {
  background-size: contain;
}

.about-us .container-white {
  padding: 0;
}

.about-us .meet-the-team h1 {
  text-align: center;
  color: #29abe2;
  padding: 100px 0 45px;
}

.about-us .card-image-top {
  height: 250px;
  width: 250px;
  margin: 25px auto;
  border-radius: 150px;
  background-size: cover;
  background-position: center center;
}

.about-us h2 {
  font-size: 24px;
}

.about-us p {
  color: #808080;
  opacity: 1 !important;
}

.about-us .cell-service p:last-child:hover {
  color: #808080;
}

.about-us .cell-service p:last-child {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #808080;
}

.contact .meet-the-team h1 {
  text-align: center;
  color: #29abe2;
  padding: 100px 0 45px;
}

.portfolio .cell-service {
  padding: 0;
}

.portfolio .container-white--services {
  margin: 45px 0;
}

.services .container-white--services {
  padding-top: 0;
}

.services .cell-service p:last-child {
  opacity: 1;
}

.services .cell-service p:nth-last-child(4) {
  padding-bottom: 15px;
}

.services .card-icons {
  width: calc(230px * .50);
  height: calc(230px * .50);
  background-size: cover;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .card-icons--container {
  width: 100%;
  height: 230px;
  position: relative;
}

.services .card-icons--outer_circle {
  width: calc(230px * .85);
  height: calc(230px * .85);
  background-color: #eeeeee;
  border-radius: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .card-body {
  text-align: left;
}

.services .card-body .menu-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
  display: inline-block;
}

.services .card-body .btn {
  font-size: 18px;
}

.services .card-text {
  color: #808080 !important;
}

.banner-home .btn {
  border: 1px solid white !important;
}

.banner-home .btn:hover,
.banner-home .btn:active,
.banner-home .btn:focus {
  border: 1px solid #29abe2 !important;
  background-color: #29abe2 !important;
  color: white;
}

.services .portfolio-text--container a:link a:hover,
.services .portfolio-text--container a:visited,
.services .portfolio-text--container a:focus,
.services .portfolio-text--container a:active {
  color: #29abe2 !important;
}

