.contact .container-white {
  padding: 45px 0;
}

.about-us .beard-container {
  background: #f9f9f9;
}

.about-us .beard-container section h3 {
  color: #29abe2;
}

.container-grey .btn {
  color: #29abe2;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.contact .container-grey,
.portfolio .container-grey {
  margin-top: 45px;
  background: #f9f9f9;
  background: linear-gradient(to bottom, #eee 0%, #eee 75%, #FFFFFFFF 75%, #FFFFFFFF 100%);
  min-height: 677px;
}

@media (max-width: 1065px) {
  .contact .container-grey,
  .portfolio .container-grey {
    min-height: auto;
    height: 307px;
    margin: 0 0 81px;
    padding: 45px 15px 0;
    background: linear-gradient(to bottom, #eee 0%, #eee 100%);
  }
}

@media (max-width: 887px) {
  .contact .container-grey,
  .portfolio .container-grey {
    margin: 0;
    height: auto;
    padding-bottom: 145px;
  }
}

.contact .container-grey .price-estimator--container,
.portfolio .container-grey .price-estimator--container {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .contact .container-grey .latest,
  .portfolio .container-grey .latest {
    transform: scale(1);
  }
}

.contact .container-grey section,
.portfolio .container-grey section {
  right: 14%;
  top: 100px;
}

.contact .container-grey section h3,
.portfolio .container-grey section h3 {
  color: #29abe2;
  font-size: 36px;
}

.contact .container-grey section p,
.portfolio .container-grey section p {
  padding-top: 5px;
}

.contact .container-grey section .btn,
.portfolio .container-grey section .btn {
  margin-top: 15px;
}

@media (max-width: 1065px) {
  .contact .container-grey section,
  .portfolio .container-grey section {
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
    width: 73%;
  }
}

@media (max-width: 887px) {
  .contact .container-grey section,
  .portfolio .container-grey section {
    width: 100%;
    padding: 0 25px;
  }
}

.contact .container-grey .price-estimator,
.portfolio .container-grey .price-estimator {
  background-size: cover;
  width: 384px;
  height: 578px;
  position: absolute;
  left: 21%;
}

@media (max-width: 1300px) {
  .contact .container-grey .price-estimator,
  .portfolio .container-grey .price-estimator {
    left: 13%;
  }
}

@media (max-width: 1065px) {
  .contact .container-grey .price-estimator,
  .portfolio .container-grey .price-estimator {
    width: 200px;
    height: 300px;
    position: relative;
    display: block;
    left: 0;
    bottom: 235px;
  }
}

@media (max-width: 887px) {
  .contact .container-grey .price-estimator,
  .portfolio .container-grey .price-estimator {
    display: none;
  }
}

.card-body p:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #29abe2;
}

.card-body .btn {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.services .card-body .menu-icon {
  background-size: contain;
}

.about-us .container-white {
  padding: 0;
}

.about-us .meet-the-team h1 {
  text-align: center;
  color: #29abe2;
  padding: 100px 0 45px;
}

.about-us .card-image-top {
  height: 250px;
  width: 250px;
  margin: 25px auto;
  border-radius: 150px;
  background-size: cover;
  background-position: center center;
}

.about-us h2 {
  font-size: 24px;
}

.about-us p {
  color: #808080;
  opacity: 1 !important;
}

.about-us .cell-service p:last-child:hover {
  color: #808080;
}

.about-us .cell-service p:last-child {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #808080;
}

.contact .menu-icon--container {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contact .menu-icon,
.contact .icon-service {
  border-radius: 0 !important;
  border: none;
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 150px;
  display: inline-block;
  margin: 20px auto;
}

.contact .cell-service:hover .icon-service,
.contact .cell-service:hover .menu-icon {
  width: 100px;
  height: 100px;
}

.contact .cell-service:hover .icon-service,
.contact .cell-service:focus .icon-service {
  border: none;
}

.contact .card-body h2 {
  padding-top: 15px;
  font-size: 24px;
}

.contact .card-body p {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: normal;
  color: #808080 !important;
}

.contact .card-body p span {
  color: #29abe2;
}

.portfolio .btn {
  color: #808080 !important;
  border: 1px solid #808080 !important;
}

.portfolio .btn:hover,
.portfolio .btn:focus,
.portfolio .btn:active {
  border: 2px solid #29abe2 !important;
}

.portfolio .cell-service {
  padding: 0;
  box-shadow: 1px 1px 10px #d4d4d4d4;
  border-radius: 20px;
}

.portfolio .cell-service p:nth-last-child(3) {
  padding-bottom: 15px;
}

.portfolio-main_image {
  height: 300px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.portfolio .card-body p:first-of-type {
  font-weight: 400;
}

.portfolio .card-body .menu-icon {
  background-size: contain;
  margin-right: 10px;
}

.portfolio .container-white--services {
  margin: 150px 0 45px 0;
}

@media (max-width: 768px) {
  .portfolio .container-white--services {
    margin: 45px 0 45px 0;
  }
}

.services .container-white--services {
  padding-top: 0;
}

.services .cell-service p:last-child {
  opacity: 1;
}

.services .cell-service p:nth-last-child(4) {
  padding-bottom: 15px;
}

.services .card-icons {
  width: calc(230px * .50);
  height: calc(230px * .50);
  background-size: cover;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .card-icons--container {
  width: 100%;
  height: 230px;
  position: relative;
}

.services .card-icons--outer_circle {
  width: calc(230px * .85);
  height: calc(230px * .85);
  background-color: #eeeeee;
  border-radius: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .card-body {
  text-align: left;
}

.services .card-body .menu-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
  display: inline-block;
  margin-right: 10px;
}

.services .card-body .btn {
  font-size: 18px;
}

@media (max-width: 768px) {
  .services .card-body {
    padding-top: 45px;
  }
}

.services .card-text {
  color: #808080 !important;
}

@media (max-width: 768px) {
  .services .icon-service {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.portfolio .container-grey {
  padding-top: 45px;
}

.portfolio-text-banner {
  height: 300px;
}

.portfolio-text-banner p {
  margin: 0 !important;
}

.portfolio-text-banner section {
  height: 100%;
}

.portfolio-text--container {
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

@media (max-width: 767px) {
  .portfolio-text--container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.home .cell-service {
  padding: 20px 15px;
}

.banner-home .btn {
  border: 1px solid white !important;
}

.banner-home .btn:hover,
.banner-home .btn:active,
.banner-home .btn:focus {
  border: 1px solid #29abe2 !important;
  background-color: #29abe2 !important;
  color: white;
}

.services .btn {
  color: #808080 !important;
  border: 1px solid #808080 !important;
}

.services .btn:hover,
.services .btn:focus,
.services .btn:active {
  border: 2px solid #29abe2 !important;
}

.services .portfolio-text--container a:link a:hover,
.services .portfolio-text--container a:visited,
.services .portfolio-text--container a:focus,
.services .portfolio-text--container a:active {
  color: #29abe2 !important;
}

