    .banner-home {
        .btn {
            &--free_audit {
                margin-left: 15px;
            }
        }
    }
    
    .container-feed--home {
        margin-top: -140px;
        z-index: -1;
        @media(max-width: 1525px){
            margin-top: -75px;
        }
        @media(max-width: 767px){
            margin-top: 0;
        }
    }
    .fb-page {
        @media(max-width: 1024px){
            top: 70px;
        }
    }