    .banner-home {
        .btn {
            &--free_audit {
                margin-left: 15px;
            }
        }
    }
    .digital_marketing {
        width: 85%;
        margin: auto;
        margin-top: -50px;
        background: transparent !important;
        @media(max-width: 767px){
            width: 95%;
            margin-top: 100px;
        }
        .heading {
            font-size: 3.1vw;
            @media(max-width: 767px){
                font-size: 36px;
            }
        }
        strong {
            font-family: 'Montserrat', sans-serif;
            color: #29abe2;
            font-size: 24px;
        }
        .btn {
            color: #29abe2;
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            font-weight: 700;
        }
        &-text {
            padding-top: 55px;
            @media(max-width: 1525px){
                padding-top: 0;
            }
        }
        &-laptop {
            &--container {
                @media(max-width: 1525px){
                    display: flex;
                    align-items: center;
                }
                @media(max-width: 992px){
                    justify-content: center;
                }
            }
            margin: -50px 0 0 -160px;
            width: 900px;
            height: 475px;
            background-size: contain;
            background-repeat: no-repeat;
            @media(max-width: 1525px){
                background-position: right;
                width: 100%;
                height: unset;
                padding-top: 50%;
                margin: -50px 0 0 0px;
            }
            @media(max-width: 1200px){
                width: 475px;
                height: 250px;
                padding-top: 0;
            }
            @media(max-width: 992px){
                margin: 0;
                background-position: center;
            }
        }
    }
    .container-feed--home {
        margin-top: -140px;
        z-index: -1;
        @media(max-width: 1525px){
            margin-top: -75px;
        }
        @media(max-width: 767px){
            margin-top: 0;
        }
    }
    .fb-page {
        @media(max-width: 1024px){
            top: 70px;
        }
    }