.about-us {
    .card-image-top {
        height: 250px;
        width: 250px;
        margin: 25px auto;
        border-radius: 150px;
        background-size: cover;
        background-position: center center;
    }
    h2 { font-size: 24px; }
    p { 
        color: #808080; 
        opacity: 1 !important; 
        
    }
    .cell-service p:last-child:hover {
        color: #808080;
    }
    .cell-service p:last-child {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #808080;
    }
}