.about-us {
    
    p { 
        color: #808080; 
        opacity: 1 !important; 
        
    }
    .cell-service p:last-child:hover {
        color: #808080;
    }
    .cell-service p:last-child {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #808080;
    }
}