.contact {
    .card-image-top {
      
    }
    h2 { font-size: 24px; }
    p { 
        color: #808080; 
        opacity: 1 !important; 
        
    }
    .cell-service p:last-child:hover {
        color: #808080;
    }
    .cell-service p:last-child {
        color: #808080;
    }
}