.contact {
    .menu-icon--container {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        // background-color: #eee;
        border: 2px solid #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .menu-icon, .icon-service {
        border-radius: 0 !important;
        border: none;
        background-size: cover;
        height: 90%;
        width: 90%;
        padding: 25px;
        background-origin: content-box;
        border-radius: 150px;
        display: inline-block;
        margin: 20px auto;
    }

    .cell-service p:last-child { 
        font-weight: normal;
    }
    .cell-service:hover .icon-service, .cell-service:focus .icon-service {
        border: none;
    }
    .card-body {
        h2 {
            padding-top: 15px;
            font-size: 36px;
        }
        p {
            span {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 18px;
                color: #29abe2;
            }
            font-family: 'Open Sans', sans-serif !important;
            font-size: 18px;
            font-weight: normal;
            color: #808080 !important;
        }
    }
}