.card-body {
  text-align: left;
}

.card-body .menu-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
  display: inline-block;
}

.card-body p:first-of-type {
  font-size: 16px;
  padding-bottom: 6px;
  color: #29abe2;
}

.card-body p:nth-last-child(2) {
  padding-bottom: 20px;
}

.card-body-text {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px;
  color: #808080 !important;
}

.card-text {
  display: inline-block;
}

@media (max-width: 582px) {
  .container-white section {
    width: 100%;
  }

  .container-white .cell-service {
    padding-left: 0;
    padding-right: 0;
  }
}

.portfolio .container-white {
  padding: 0;
}

.portfolio .cards {
  margin-top: 100px;
  margin-bottom: 50px;
}

@media (max-width: 1400px) {
  .portfolio .cards {
    margin-top: 200px;
  }
}

.about-us .beard-container {
  height: 60vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .about-us .beard-container {
    height: auto;
    padding: 75px 0;
  }
}

.about-us .beard-container .row {
  height: 100%;
  width: 85%;
  max-width: 1400px;
}

.about-us .beard-container-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 45px;
}

.about-us .beard-container section {
  width: 100%;
}

@media (max-width: 1200px) {
  .about-us .beard-container section {
    padding-left: 10%;
  }
}

@media (max-width: 991px) {
  .about-us .beard-container section {
    padding-left: 0;
  }

  .about-us .beard-container section h3 {
    text-align: center;
  }
}

.about-us .beard-container section h3 {
  font-size: 48px;
}

.about-us .beard-container section p {
  font-weight: 100;
}

.about-us .beard-container .beard_logo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 300px;
  padding-top: 300px;
}

.about-us .beard-container .beard_logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .about-us .beard-container .beard_logo-container {
    justify-content: center;
  }
}

@media (max-width: 352px) {
  .about-us .beard-container .beard_logo {
    width: 250px;
    padding-top: 250px;
  }
}

.logo-text {
  display: none;
}

.portfolio .container-grey {
  background-color: transparent !important;
  padding: 0;
}

.portfolio .latest {
  padding-bottom: 50px;
}

.modal-header {
  border: none !important;
}

.modal-dialog {
  max-width: 65% !important;
  overflow-y: initial !important;
  height: auto;
}

@media (max-width: 1270px) {
  .modal-dialog {
    max-width: 95% !important;
  }
}

@media (max-width: 567px) {
  .modal-dialog {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 5px !important;
  }
}

.modal-body {
  height: 75vh;
  overflow-y: auto;
}

.modal-body .hidden-description {
  display: block !important;
}

.modal-inuse.cell-service {
  width: 100%;
  position: relative;
}

@media (max-width: 567px) {
  .modal-inuse.cell-service {
    padding: 0;
  }
}

.modal-inuse.cell-service .icon-service {
  position: absolute;
  top: 0;
  right: calc(87.5% - 75px);
}

@media (max-width: 768px) {
  .modal-inuse.cell-service .icon-service {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    position: relative;
    left: 0;
    display: block;
    margin: 0 auto;
  }
}

.modal-inuse.cell-service .card-body {
  width: 75%;
  margin-left: auto;
}

@media (max-width: 768px) {
  .modal-inuse.cell-service .card-body {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 75px;
  }
}

@media (max-width: 567px) {
  .modal-inuse.cell-service .card-body {
    padding: 0 0 75px;
  }
}

.modal-inuse.cell-service .card-body .btn {
  position: absolute;
  right: 87.5%;
  transform: translateX(50%);
  overflow: hidden;
  white-space: nowrap;
  top: 200px;
}

@media (max-width: 768px) {
  .modal-inuse.cell-service .card-body .btn {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    white-space: nowrap;
  }
}

.sub-banner {
  background-color: black;
  width: 100%;
  height: 250px;
}

.sub-banner--text_container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.sub-banner h1 {
  color: white !important;
  margin: 0 !important;
}

.portfolio-text-banner {
  height: 300px;
  position: relative;
}

.portfolio-text-banner p {
  margin: 0 !important;
}

.portfolio-text-banner section {
  height: 100%;
}

.portfolio-text--container {
  overflow-wrap: break-word;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

