.portfolio {
    &-text-banner {
        height: 300px;
        p{ 
            margin: 0 !important; 
            font-family: 'Montserrat', sans-serif;
            font-weight: 700 !important;
            font-size: 18px;
            color: #29abe2;
        }
        section {
            height: 100%;
        }
    }
    &-text--container {
        height: 100%;
        width: 100%;
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        @media( max-width: 767px ) {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}