.portfolio {
    &-text-banner {
        height: 300px;
        p{ margin: 0 !important; }
        section {
            height: 100%;
        }
    }
    &-text--container {
        height: 100%;
        width: 100%;
        overflow-wrap: break-word;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}