
body {
    font-family: 'Playfair Display', serif !important;
}
nav {
    width: 90%;
    max-width: 1700px;
}
.page {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
}

.fa {
    opacity: 1 !important;
    transform: scale(1.6)
}