.about-us, .portfolio {
    
    .container-grey--video {
        padding: 90px 0;
        min-height: auto;
        display: flex;
        justify-content: center;
        .container-fluid {
            width: 85%;
        }
        .video_container {
            &--outer {
                position: static; 
                clear: both; 
                width: 80%; 
                height: 44.2%;
                @media( max-width: 1199px ){
                    width: 100%; 
                    height: 55.25%;
                }
                @media( max-width: 1065px ){
                    width: 100%; 
                    height: 55.25%;
                    padding-top: 45px;
                }
            }
            &--inner {
                position: relative;
                overflow: hidden;
                padding-top: 55.25%;
                #vidimg {
                    position: absolute; 
                    width: 100%;
                    background-size: cover;
                    background-position: center center;
                    padding-top: 55.25%;
                    top: 0;
                    left: 0; 
                    cursor: pointer; 
                    pointer-events: none; 
                    z-index: 2; 
                }
                #unlocked-video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 0;      
                }
            }
        }
        
        margin-top: 45px;
        background: rgb(249,249,249);
        @media( max-width: 1065px ) {
            min-height: auto;
            margin: 0;
            padding: 15px 15px 45px;
            background: linear-gradient(to bottom, #eee 0%,#eee 100%);
        }
        .latest {
            @media( max-width: 1400px ) {
                transform: scale(1);
            }
        }
        section {
            position: relative;
            right: 0;
            top: 0;
            width: 100%;
            span { 
                color: #29abe2; 
                font-weight: 700;
            }
            h3 {
                font-size: 36px;
            }
            p { padding-top: 5px; }
            @media( max-width: 1199px ) {
                padding-top: 45px;
            }
        }
    }
}