.portfolio {
    & .container-grey {
        background-color:transparent !important;
        padding: 0;
    }
    & .latest {
        // background-color: #dadada;
        padding-bottom: 50px;
    }
    .btn a:link {
        color: #808080;
    }
}