.portfolio {
    &-text-banner {
        height: 300px;
        margin: 0 150px;
        position: relative;
        & section {
            overflow-wrap: break-word;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}