.portfolio {
    &-text-banner {
        height: 300px;
        position: relative;
        p{ margin: 0 !important; }
        section {
            height: 100%;
        }
    }
    &-text--container {
        overflow-wrap: break-word;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}