.contact, .portfolio, .home {
    .quote {
        background: rgb(249,249,249);
        background: linear-gradient(to bottom, #eee 0%,#eee 75%,#FFFFFFFF 75%,#FFFFFFFF 100%);
        @media( max-width: 1065px ) {
            background: linear-gradient(to bottom, #eee 0%,#eee 100%);
        }
        section {
            h3 {
                color: #29abe2;
            }
        }
    }
}