.card {
  background-color: #ECE7E3 !important;
}

.portfolio .container-grey {
  padding-top: 45px;
}

.sub-banner {
  background-color: #D9CFC5;
}

.sub-banner h1 {
  font-weight: bold !important;
  color: #21252A !important;
}

