@import url("../sass/base/style.css");

/*RESET*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

div[class^="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*OBJECTS*/
.btn {
    font-family: sans-serif;
    display: inline-block;
}

hr {
    border: none;
    margin: 50px auto;
    width: 100%;
    height: 1px;
    background: #ddd;
}


/*LINKS*/
a:link,
a:hover,
a:visited,
a:focus,
a:active {
    color: inherit;
}


/*DIVS*/
section {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
section.narrow {
    max-width: 1024px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}
nav section {
    width: 100%;
    max-width: none;
    margin: 0 auto 10px;
    padding: 0;
    position: relative;    
}

nav button {
    display: block;
    -webkit-transition: none;
    transition: none;
    margin: 20px;
    float: right;
    border: none;
    outline: none;
    background: none;
}
nav button:hover,
nav button:focus {
    cursor: pointer;
}

nav .palette {
    display: block;
    float: right;
}
nav .palette ul {
    left: 0;
}

nav ul {
    display: none;
    -webkit-transition: none;
    transition: none;
    position: absolute;
    top: 80px;
    padding: 20px 0;
    width: 100%;
    text-align: left;
}
nav ul li {
    display: inline-block;
    float: left;
    margin: 5px;
    padding: 20px;
    width: calc(20% - 10px);
}

.banner-home {
    width: 100%;
    height: 800px;
    position: relative;
}
.banner-home section {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-white {
	padding: 100px 0;
}
.container-grey {
	width: 100%;
    padding: 50px 0;
    position: relative;
}
.container-grey section {
    width: 30%;
    position: absolute;
    right: 5%;
    top: 150px;
}
.container-grey section .heading {
    font-size: 3.1vw;
}

.container-feed {
    padding: 200px 0;
    overflow: hidden;
    position: relative;
}
.container-feed .heading {
    font-size: 3.1vw;
}
.container-feed .phone-back {
    width: 400px;
    height: 600px;
    position: absolute;
    top: -10px;
    right: 12%;
}
.container-feed .phone-front {
	width: 400px;
    height: 600px;
    position: absolute;
    top: -80px;
    right: 5%;
}
.container-feed .phone-front .fb-page {
	margin-top: 80px;
    margin-left: 20px;
    width: 360px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.cell-service {
    margin: 20px auto;
	width: 30%;
    padding: 20px;
}

.header-spacer {
    height: 87px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* #palette ul {
    width: 200px;
    right: 0;
}

#palette li {
    float: none;
    width: 100%;
    display: block;
} */
footer {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}
footer section {
    max-width: 1024px;
}
footer p {
    font-size: 14px;
}
footer ul {
    list-style: none;
}
footer ul li {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
}

.container-social-media {
    width: 100%;
    padding: 20px 0;
}

.client {
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 300px;
    overflow: hidden;
}
.client-review {
	width: calc(90% - 300px);
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
}


/*FORM*/
form {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
form label {
    display: none;
    font-size: 0;
}

input,
textarea,
select {
    width: calc(50% - 10px);
    margin: 5px;
    padding: 20px;
    float: left;
    -webkit-appearance: none;
}

textarea {
    width: calc(100% - 9px);
    height: 150px;
}


/*MODIFIERS*/
.left {
    text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}

.ftlt {
    float: left;
}
.ftrt {
    float: right;
}
.clear {
    clear: both;
}

.space {
    height: 100px;
}


/*MEDIA QUERIES*/
@media (max-width:1400px) {
    .container-blank {
        height: 500px;
    }
    nav ul li {
        width: calc(33.33% - 10px);
    }
}


@media (max-width:1024px) {
    .cell-service {
        width: 45%;
    }
    
    .container-feed {
        padding: 150px 0;
    }
    .container-feed p {
        display: none;
    }
    .container-feed .phone-back {
        width: 300px;
        height: 500px;
        right: 5%;
    }
    .container-feed .phone-front {
        width: 300px;
        height: 500px;
        right: 0;
    }
    .container-feed .phone-front .fb-page {
        margin-top: 60px;
        width: 260px;
    }
}


@media (max-width:768px) {    
    .container-blank {
        height: 560px;
    }
    
    nav ul {
        padding: 0;
    }
    nav ul li {
        width: calc(50% - 10px);
    }
    
    .cell-service {
        width: 100%;
    }
    
    .owl-carousel .item {
        text-align: center;
    }
    .client {
        width: 200px;
        height: 200px;
        vertical-align: inherit;
        border-radius: 200px;
        display: inline-block;
    }
    .client-review {
        width: 100%;
        vertical-align: inherit;
        padding-left: 0;
        display: inline-block;
    }
    
    footer p {
        font-size: 12px;
    }
    
    .container-white {
        padding: 50px 0;
    }
    
    .container-grey {
        padding: 50px 0 0;
    }
    .container-grey section {
        width: 90%;
        position: relative;
        margin: 0 auto;
        right: auto;
        left: auto;
        top: 0;
    }
    .container-grey section .heading {
        font-size: 36px;
    }
}


@media (max-width:532px) {
    .container-blank {
        height: 240px;
    }
    
    nav ul {
        top: 80px;
        overflow: scroll;
    }
    nav ul li {
        width: calc(100% - 10px);
        margin: 0 5px;
        padding: 20px 10px;
    }
    
    footer {
        padding: 50px 0;
    }
    footer p,
    footer hr,
    footer ul li:nth-child(2),
    footer ul li:nth-child(4) {
        display: none;
    }
    footer ul li {
        display: block;
    }
}


@media (max-width:414px) { 
}