/*RESET*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: #00ff00;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; 
    text-shadow: 0 0 5px #00ff00;
}

::-webkit-scrollbar {
    width:5px;
}
 
::-webkit-scrollbar-track {
    background:rgba(255,255,255,0.3);
}
 
::-webkit-scrollbar-thumb {
	background:#00ff00;
}

body {
    font-family: 'Source Code Pro', monospace;
    color: #00ff00;
    background: black !important;
    font-size: 16px;
    line-height: 24px;
}


/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
strong {
    
}

p,
li,
ol {
    margin: 18px auto;
}


/*OBJECTS*/
.btn {
    font-family: 'Source Code Pro', monospace;
    padding: 10px 20px;
    background: #00ff00;
    color: black;
    box-shadow: 0 0 5px #00ff00;
}
.btn a:link {
    color: black;
}
.btn:hover,
.btn:focus {
    box-shadow: 0 0 10px #00ff00;
}

hr {
    border: 2px dashed #00ff00;
    margin: 50px auto;
    width: 100%;
}

.icon-service {
	width: 150px;
    height: 150px;
    border: 1px solid #00ff00;
    border-radius: 150px;
    display: none;
    margin: 20px auto;
    box-shadow: 0 0 10px #00ff00;
}
.cell-service:hover .icon-service,
.cell-service:focus .icon-service {
    border: 1px solid #00ff00;
    box-shadow: 0 0 20px #00ff00;
    width: 145px;
    height: 145px;
}
.web-design-development {
	background: url(../assets/80s/images/icons/web-design-development.png) no-repeat center;
    background-size: 60%;
}
.digital-marketing {
	background: url(../assets/80s/images/icons/digital-marketing.png) no-repeat center;
    background-size: 60%;
}
.print-media-design {
	background: url(../assets/80s/images/icons/print-media-design.png) no-repeat center;
    background-size: 60%;
}
.logo-branding {
	background: url(../assets/80s/images/icons/logo-design-branding.png) no-repeat center;
    background-size: 60%;
}
.internet-services {
	background: url(../assets/80s/images/icons/internet-services.png) no-repeat center;
    background-size: 60%;
}
.beard-support {
	background: url(../assets/80s/images/icons/beard-support.png) no-repeat center;
    background-size: 60%;
}

.desktop {
	width: 752px;
    height: 616px;
    background: url(../assets/80s/images/thumbs/desktop.png) no-repeat center;
    background-size: contain;
    margin-left: 5%;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    position: relative;
    display: none;
}
.desktop:before {
    content: '';
    width: 710px;
    height: 424px;
    background: url(../assets/modern/images/portfolio/latest/latest-desktop.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 20px;
}
.tablet {
	width: 354px;
    height: 409px;
    background: url(../assets/80s/images/thumbs/tablet.png) no-repeat center;
    background-size: contain;
    margin-left: -5%;
    margin-top: -400px;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    display: none;
}
.tablet:before {
    content: '';
    width: 272px;
    height: 327px;
    background: url(../assets/modern/images/portfolio/latest/latest-tablet.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 40px;
    left: 30px;
}
.laptop {
	width: 576px;
    height: 350px;
    background: url(../assets/80s/images/thumbs/laptop.png) no-repeat center;
    background-size: contain;
    margin-left: 20%;
    margin-top: -340px;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    display: none;
}
.laptop:before {
    content: '';
    width: 445px;
    height: 285px;
    background: url(../assets/modern/images/portfolio/latest/latest-laptop.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 65px;
}
.phone {
	width: 200px;
    height: 294px;
    background: url(../assets/80s/images/thumbs/phone.png) no-repeat center;
    background-size: contain;
    margin-left: 7%;
    margin-top: -280px;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    display: none;
}
.phone:before {
    content: '';
    width: 137px;
    height: 221px;
    background: url(../assets/modern/images/portfolio/latest/latest-phone.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 35px;
    left: 28px;
}


/*LINKS*/
a:link {
    color: #00ff00;
}
a:hover,
a:focus {
}


/*DIVS*/
section.narrow {
    max-width: 1400px;
}
nav {
    width: 95%;
    margin: 0 auto;
    background: black;
    border-bottom: 2px dashed #00ff00;
    position: relative;
}

nav .logo {
    width: 400px;
    height: 90px;
    margin: 5px 0 0;
    float: left;
    background: url(../assets/monochromatic/images/logos/redding-designs-logo.png) no-repeat center left;
    background-size: contain;
    position: relative;
    z-index: 10;
}
nav .logo:hover,
nav .logo:focus {
    -webkit-transform: scale(.9);
    transform: scale(.9);
}

nav button {
    font-size: 16px;
    margin: 50px 0 0;
    font-family: 'Source Code Pro', monospace;
    color: #00ff00;
    text-transform: uppercase;
}
nav button:hover,
nav button:focus {
    text-shadow: 0 0 15px #00ff00;
}
nav button img {
    display: none;
}

nav .palette {
    display: none;
}

nav ul {
    background: black;
    border-bottom: 2px dashed #00ff00;
}
nav ul li {
    text-transform: uppercase;
}
nav ul li span {
    text-transform: none;
}
nav ul li:last-child {
    display: none;
}
nav ul .palette {
    float: left;
    margin: 25px 10px 0 0;
    width: 50px;
    height: 50px;
}

.banner-home {
    width: 90%;
    height: auto;
    padding: 150px 0;
    margin: 0 auto;
    border-bottom: 2px dashed #00ff00;
}
.banner-home section {
    width: 85%;
    margin: 0 auto;
}
.banner-home h1 {
    font-size: 16px;
    font-weight: normal;
}

.container-white {
    border-top: 2px dashed #00ff00;
    border-bottom: 2px dashed #00ff00;
    padding: 25px 0;
    margin: 10px auto;
    width: 90%;
}
.container-grey {
    border-top: 2px dashed #00ff00;
    border-bottom: 2px dashed #00ff00;
    padding: 25px 0;
    margin: 10px auto;
    width: 90%;
}
.container-grey section {
    width: 85%;
    position: relative;
    right: 0;
    top: 0;
}
.container-grey section .heading {
    font-size: 16px;
    font-weight: normal;
}
.container-grey section .heading:before {
    content: '</>';
    margin-right: 10px;
}

.container-feed {
    display: none;
}

.cell-service {
    text-align: left;
    width: 100%;
    padding: 0;
    border-bottom: 2px dashed #00ff00;
}
.cell-service h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
.cell-service h2:before {
    content: '</>';
    margin-right: 10px;
}
.cell-service a {
    padding: 10px 20px;
    background: #00ff00;
    color: black;
    box-shadow: 0 0 5px #00ff00;
}
.cell-service a:hover,
.cell-service a:focus {
    box-shadow: 0 0 10px #00ff00;
}

.container-social-media {
    width: 90%;
    margin: 0 auto;
    border-top: 2px dashed #00ff00;
    border-bottom: 2px dashed #00ff00;
    text-align: center;
}
.container-social-media i.fa {
    width: 40px;
    height: 40px;
    font-size: 28px;
    padding-top: 5px;
    color: #00ff00;
    display: inline-block;
    margin: 0 5px;
    border: 2px dashed #00ff00;
    border-radius: 0;
}
.container-social-media i.fa:hover,
.container-social-media i.fa:focus {
	-webkit-transform: scale(.95);
    transform: scale(.95);
}


.client {
    display: none;
}
.client-review {
    width: 100%;
    padding: 0;
    text-align: left;
}
.client-review strong {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
.client-review strong:before {
    content: '</>';
    margin-right: 10px;
}

.container-blank {
	display: none;
}
footer {
    width: 90%;
    margin: 10px auto 0;
    padding: 50px 0;    
    padding-top: 50px;
    position: relative;
    background: black;
    text-align: left;
    border-top: 2px dashed #00ff00;
}
footer section {
    width: 85%;
    max-width: 1400px;
}
footer p {
    color: #00ff00;
    font-size: 16px;
    font-weight: normal;
}
footer hr {
    background: none;
    height: 10px;
    border: none;
    border-bottom: 2px dashed #00ff00;
}
footer a:link {
    color: #00ff00;
}


/*FORM*/
form button {
    margin: 5px;
}

input,
textarea,
select {
    background: #00ff00;
    border: 2px solid #f4f0eb;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #998675;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
    border: 2px solid #29abe2;
}


/*MODIFIERS*/
.heading {
    text-transform: uppercase;
}
.sub-heading {
    text-transform: uppercase;
}
.cell-heading {
    text-transform: uppercase;
}

.space {
    height: 100px;
}

.owl-theme .owl-dots .owl-dot span {
      background: #00ff00;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #00ff00;
}


/*MEDIA QUERIES*/
@media (max-width:1400px) {
}


@media (max-width:1024px) {
}


@media (max-width:768px) {
}


@media (max-width:532px) { 
    nav .logo {
        width: 60px;
        height: 60px;
        max-width: none;
        background: none;
        margin-top: 40px;
    }
    nav .logo:before {
        content: 'RD';
        font-size: 36px;
        padding: 5px;
        border: 2px dashed #00ff00;
    }
}


@media (max-width:414px) { 
}